:root{
    --background-color: #140039;
    --wrapper-bg-color: #293447;
    --store-background-color: #8a5c00;
    --play-board-bg-color: #212837;
    --food-color: #ff003d;
    --snake-head-color: #60cbff;
    --text-color: #b8c6dc;
    --button-bg-color: #5100ff;
    --button-hover-bg-color: #d50032;
    --button-text-color: #fff;
}

*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--background-color);
    margin: 0;
}

h1,h2,p{
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

.wrapper{
    width: 65vmin;
    height: 70vmin;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--wrapper-bg-color);
    border-radius: 10px;
    margin-right: 15px;

}

.game-details{
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.play-board{
    width: 100%;
    height: 100%;
    background-color: var(--play-board-bg-color);
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food{
    background-color: var(--food-color);
    border-radius: 20px;
}

.play-board .head {
    background: var(--snake-head-color);
}

.bottom-controls{
    display: flex;
    justify-content: space-between;
}

.board-btns{
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.board-btns:hover{
    background-color: var(--button-hover-bg-color);
    color: var(--button-text-color);
}

.store{
    width: 65vmin;
    height: 70vmin;
    background-color: var(--store-background-color);
    border-radius: 10px;
}

.store-header{
    background-color: var(--text-color);
    text-align: center;
    padding: 17px 0;
    border-radius: 10px 10px 0 0;
}

